$tablet-screen: 475px;
$big-tablet-screen: 768px;
$laptop-screen: 1080px;
$desktop-screen: 1440px;
$super-big-screen: 2550px;

//COLORS
$base-color: #f7f7f7;
$primary-color: #fffdfa;
$text-color: #333333;

$text-color-faded: rgba(51, 51, 51, 0.8);
$primary-color-faded: rgba(247, 247, 247, 0.8);
$secondary-color: #3e2a1a;
$secondary-color-faded: rgba(62, 42, 26, 0.6);

//BORDERS
$radius: 8px;

//SHADOWS
$shadow: 0px 0px 10px rgba(0, 0, 0, 0.04);
$shadow-white: 0px 0px 10px #f7f7f72c;

// TYPO
$line-height: 1.15;
$skinny: 400;
$skinny-thick: 500;
$thick: 600;
$overweight: 800;
