$tablet-screen: 475px;
$big-tablet-screen: 768px;
$laptop-screen: 1080px;
$desktop-screen: 1440px;
$super-big-screen: 2400px;

//COLORS
$base-color: #f7f7f7;
$primary-color: #fffdfa;
$text-color: #202020;
$secondary-color: #2a3b6b;
$text-color-alt: $primary-color;

$text-color-faded: rgba($text-color, 0.8);
$primary-color-faded: rgba($primary-color, 0.8);
$secondary-color-faded: rgba($secondary-color, 0.5);

//BORDERS
$radius: 4px;

//SHADOWS
$shadow: 0px 0px 10px rgba(0, 0, 0, 0.02);
$shadow-text: 0px 0px 1px rgba(0, 0, 0, 1);
$shadow-primary: 0px 0px 10px rgba($primary-color, 0.2);
$shadow-secondary: 0px 0px 10px rgba($secondary-color, 0.2);

//GOLDEN NUMBER
$golden-number: 1.4;

//FONT SIZES
$small-text: 0.8rem;
$base-text: calc($small-text * $golden-number);
$subtitles: calc($base-text * $golden-number);
$titles: calc($subtitles * $golden-number);

// TYPO
$line-height: 1.5rem;
$line-height-subtitles: calc($line-height * $golden-number);

$skinny: 400;
$skinny-thick: 500;
$thick: 600;
$overweight: 900;
