@font-face {
  font-family: "Custom";
  src: url(@/assets/fonts/figtree/Figtree-Regular.ttf) format("truetype");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Custom";
  src: url(@/assets/fonts/figtree/Figtree-Medium.ttf) format("truetype");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "Custom";
  src: url(@/assets/fonts/figtree/Figtree-SemiBold.ttf) format("truetype");
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: "Custom";
  src: url(@/assets/fonts/figtree/Figtree-Bold.ttf) format("truetype");
  font-display: swap;
  font-weight: 700;
}

*,
:before,
:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  @media (min-width: $big-tablet-screen) {
    -ms-overflow-style: inherit; /* IE and Edge */
    scrollbar-width: inherit; /* Firefox */
  }
}

body {
  background-color: $base-color;
  font-family: "Custom", sans-serif;
  color: $text-color;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $text-color;
  font-size: $base-text;
}

strong {
  font-weight: $overweight;
}

p {
  font-size: $base-text;
  line-height: $line-height;
  font-weight: $skinny;
}

ul,
li {
  list-style: none;
  font-size: $base-text;
  line-height: $line-height;
}

button,
input {
  border-radius: $radius;
}

button {
  border: 1px solid transparent;
  background-color: transparent;
  font-size: $base-text;
}

input,
textarea {
  caret-color: $text-color;
  background-color: transparent;
  font-family: "Custom", sans-serif;
  font-size: $base-text;
  &:focus {
    border: 2px solid $text-color;
    outline: $text-color;
  }
}
/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $primary-color inset !important;
}
input[type="search"],
input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $primary-color inset !important;
    border: 2px solid $primary-color !important;
    outline: $primary-color !important;
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.button-primary,
.button-secondary {
  display: flex;
  padding: 0.75rem 1.5rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 24px;
  transition: transform 0.2s ease-in-out;
  // text-shadow: black 0px 0px 1px;
  backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
  font-weight: $skinny-thick !important;
  font-family: "Custom" !important;
  font-size: $base-text;
  height: fit-content;
  white-space: nowrap;

  @media (min-width: $big-tablet-screen) {
    &:hover {
      transform: scale(1.01);
    }
  }
}
.button-primary {
  background-color: $secondary-color;
  color: $primary-color;
  position: relative;

  &:hover {
    -webkit-box-shadow: $shadow-secondary;
    box-shadow: $shadow-secondary;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.button-secondary {
  background-color: transparent;
  border: $text-color solid 2px;

  &:hover {
    transform: scale(1.02);
  }
}

.button-tertiary {
  font-size: $small-text;
  text-decoration: underline;
  color: $secondary-color;
  text-underline-offset: 2px;
}

.scale-on-hover {
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.02) !important;
  }
}

//SCROLLBAR
/* width */
::-webkit-scrollbar {
  width: 8px;
  display: none;

  @media (min-width: $big-tablet-screen) {
    display: block !important;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: $base-color;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $secondary-color-ultra-faded;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $secondary-color;
}

//DETAILS
details > summary {
  list-style: none;
}

details > summary::marker, /* Latest Chrome, Edge, Firefox */ 
details > summary::-webkit-details-marker /* Safari */ {
  display: none;
}

.not-selectable {
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
  -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
  user-select: none; /* Propriété standard */
}

.titles {
  font-size: calc($titles - 0.5rem);
  font-weight: $overweight;
  text-transform: uppercase;

  @media (min-width: $big-tablet-screen) {
    font-size: $titles;
  }
}
.subtitles {
  font-size: calc($subtitles - 0.25rem);
  font-weight: $skinny-thick;
  line-height: calc($line-height-subtitles - 0.25rem);

  @media (min-width: $big-tablet-screen) {
    font-size: $subtitles;
    line-height: $line-height-subtitles;
  }
}

//ANIMATIONS
@keyframes fading {
  from {
    opacity: 0;
    display: none;
  }
  to {
    display: flex;
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-from-left {
  from {
    transform: translate(-20px);
  }
  to {
    transform: translate(0px);
  }
}
@keyframes slide-from-right {
  from {
    transform: translate(20px);
  }
  to {
    transform: translate(0px);
  }
}
@keyframes slide-from-top {
  from {
    transform: translateY(-3rem);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes slide-from-bottom {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes tilt {
  from {
    transform: rotate(4deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes popUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
